<meta charset="UTF-8">
<title>Profe merrick</title>

<style type="text/css">

body {background-color:#f0fcfb;}

div#BODY2 {
width:700px;
margin-left:auto;
margin-right:auto;
border:2px inset #07fbe7;
}

h1 {
color:#03897e;
text-align:center;
margin-top:30px;
}
h2 {
color:#03c4b4;
padding-left:20px;
margin-top:50px;
margin-bottom:50px;
}

img {
float:left;
width:15%;
padding:10px;
}

p {
font-size:20px;
padding:15px;
color:#036a61;
}








</style>

</head>

<body>

<div id="BODY2">
<h1>PROFE MERRICK</h1>
<h2>DE A QUI A 5 AÑOS</h2>

<img src="img/6.jpg" />

<p>Yo lo veo mas amargado algo calvo y tal ves sin dos dientes jajaja los frontales  tal vez use peluca y supongamos que esta casado. </p>

<p>tendra com 20 hijos y se parecera al profe guillermo</p>





</div>
</body>